#pa{
background-color: azure;
color: black;
}
.mynav ul li{
    display: inline;
    padding-left: 10%;
    
}
.mynav{
    border: 2px solid red;  
    border-radius: 10px;
    background-color: beige;
    color: blueviolet;

}
#myfooter{
    border: 2px solid red;  
    border-radius: 10px;
    background-color: beige;
    color: blueviolet;
    width: 30%;
    position: fixed;
    bottom: 0;
    text-align: center;
    margin-left: 30%;

}